<div class="mainContentContainer">
    <div class="mainContent" fxLayout="row">
        <form #f="ngForm" [formGroup]="addCompanyForm" (ngSubmit)="onSubmit(f.value)">
            <div>
                <div class="mainTitle">
                    <span>Hyperledger-Fabric Test</span> 
                    <button class="tableBtn backBtn" mat-raised-button type="submit" color="primary" (click)="toBack()">Back</button>
                </div>
                
            </div>
            <div class="leaveTableContainer">
                <div fxLayout="column" class="br_ltop">
                    <!-- company name -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Company Name</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <!-- <mat-label>Company Name</mat-label> -->
                                <input matInput type="text" name="company_name" formControlName="company_name" [ngModel]="companyData?.company_name"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- My Name -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>My Name</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <!-- <mat-label>My Name</mat-label> -->
                                <input matInput type="text" name="my_name" formControlName="my_name" [ngModel]="companyData?.my_name"/>
                            </mat-form-field>
                        </div>
                    </div>


                    <!-- Your Name -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Your Name</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <!-- <mat-label>Your Name</mat-label> -->
                                <input matInput type="text" name="your_name" formControlName="your_name" [ngModel]="companyData?.your_name"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div id="upload">
                        <label>
                            <mat-icon> attach_file</mat-icon>
                            <input ngf-select type="file" (change)="onFileChange($event)" name="upload_file" >
                            <div class="choose_button_span"></div>
                        </label>
                    </div>

<!--                     
                    <mat-form-field appearance="outline" class="companyFormFieldBox">
                            <input class="file" type='file' formControlName="upload_file" (change)="onFileChange($event)" style="display:none" name="contract_file" required ngModel />
                        </mat-form-field> -->

                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="booterBtn">
                    <div class="btnSection_1">
                        <button class="editBtn" mat-raised-button type="submit" color="primary">Edit</button>
                    </div>
                </div>
            </div>
        </form>

    
</div>