<div class="mainTitle"> Company Details</div>
<table class="modal-table">
    <colgroup>
        <col style="width:120px">
        <col style="width:380px">
    </colgroup>
    <tbody>
        <tr>
            <th>
                Key
            </th>
            <td>
                {{data.key}}
            </td>
        </tr>
        <tr>
            <th>
                Company Name
            </th>
            <td>
                {{data.company_name}}
            </td>
        </tr>
        <tr>
            <th>
                My Name
            </th>
            <td>
                {{data.my_name}}
            </td>
        </tr>
        <tr>
            <th>
                Your Name
            </th>
            <td>
                {{data.your_name}}
            </td>
        </tr>    
        <tr>
            <th>
                File Name
            </th>
            <td class="fileName" (click)="fileDownload(data)">
                {{data.upload_file_name}} <mat-icon> attach_file</mat-icon>
            </td>
        </tr>    
    </tbody>
</table>


<div class="modal-btn">
    <button class="editBtn" mat-raised-button mat-dialog-close (click)="editCompany(data)"> EditBtn </button>
    <button color="primary" mat-raised-button mat-dialog-close> Confirm </button>
</div>